:javascript
  var phrase = { 'mots' : [{'Zut !' : 'interjection'}, {'Le' : 'article'}, {'chat' : 'nom'}, {'mange' : 'verbe'}, {'le' : 'article'}, {'chat' : 'nom'}] }

#phrase

%table.liste
  - settings.symboles.each do |symbole, desc|
    %tr
      %td
        .symbol{:id => symbole}
          %img{src:"/images/#{symbole}.png"}
      %td #{desc}

:javascript
  $(init);
