:javascript
  var phrase = { 'mots' : [{'Zut !' : 'interjection'}, {'Le' : 'article'}, {'chat' : 'nom'}, {'mange' : 'verbe'}, {'le' : 'article'}, {'chat' : 'nom'}] }

#phrase

%table.liste
  %tr
    %td
      .symbol#article
        %img{src:"article.png"}
    %td
      Article : le petit ami du nom
  %tr
    %td
      .symbol#adjectif
        %img{src:"adjectif.png"}
    %td
      Adjectif : donne une information sur le nom
  %tr
    %td
      .symbol#nom
        %img{src:"nom.png"}
    %td
      Nom : désigne une personne, une chose ou un animal
  %tr
    %td
      .symbol#pronom
        %img{src:"pronom.png"}
    %td
      Pronom : remplace la famille du nom (article, adjectif, nom)
  %tr
    %td
      .symbol#verbe
        %img{src:"verbe.png"}
    %td
      Verbe : l'action de la phrase
  %tr
    %td
      .symbol#adverbe
        %img{src:"adverbe.png"}
    %td
      Adverbe : modifie le verbe
  %tr
    %td
      .symbol#preposition
        %img{src:"preposition.png"}
    %td
      Préposition : montre la relation entre 2 mots
  %tr
    %td
      .symbol#conjonction
        %img{src:"conjonction.png"}
    %td
      Conjonction : relie deux parties de phrases
  %tr
    %td
      .symbol#interjection
        %img{src:"interjection.png"}
    %td
      Interjection : zut ! oh ! ha !

:javascript
  $(init);
