:javascript
  var phrase = #{@phrase.mots};

#phrase

%table.liste
  - settings.symboles.each do |symbole, desc|
    %tr
      %td
        .symbol{:id => symbole}
          %img{src:"/images/#{symbole}.png"}
      %td #{desc}

:javascript
  $(init);
