<!DOCTYPE html>
%html
  %head
    %title Bun
    %link{:rel => "stylesheet", :href =>"/main.css"}
    %link{:rel => "stylesheet", :href =>"/jquery-ui_1.10.4.css"}
    %script{:src=>"/jquery-1.10.2.js"}
    %script{:src=>"/jquery-ui_1.10.4.js"}
    %script{:src=>"/main.js"}
    %script{:src=>"/touch.js"}
  %body
    = yield
    
