<!DOCTYPE html>
%html
  %head
    %title Bun
    %link{:rel => "stylesheet", :href =>"/stylesheets/main.css"}
    %link{:rel => "stylesheet", :href =>"/stylesheets/jquery-ui_1.10.4.css"}
    %script{:src=>"/javascripts/jquery-1.10.2.js"}
    %script{:src=>"/javascripts/jquery-ui_1.10.4.js"}
    %script{:src=>"/javascripts/main.js"}
    %script{:src=>"/javascripts/touch.js"}
  %body
    = yield
    
