%form{action:"/phrases", method:"post"}
  %input#saisie{placeholder:"Entrez une phrase"}
  %br
  Séparez chaque mots par des espaces

  #phrase

  %button#send Valider
 
:javascript  
  var symboles = #{ settings.symboles.to_json};

:javascript
  $(document).ready(function () {
    $('#saisie').keyup(split_phrase);
  });
  
  var symbole_options = ""
