.container{
  height: 32px;
  min-width: 32px;
  border: dotted 1px black;
}

.hovered{
  border: solid 1px blue;
}

.case {
  display: table-cell;
}

.mot {
  padding: 3px;
  text-align: center;
}

.liste {
  border: 2px solid black;
  border-radius: 15px;
  margin: 1em;
}

.bravo-article {
  border: solid 1px white;
  background: center no-repeat url("/images/article.png");
}

.bravo-adjectif {
  border: solid 1px white;
  background: center no-repeat url("/images/adjectif.png");
}

.bravo-nom {
  border: solid 1px white;
  background: center no-repeat url("/images/nom.png");
}

.bravo-verbe {
  border: solid 1px white;
  background: center no-repeat url("/images/verbe.png");
}

.bravo-adverbe {
  border: solid 1px white;
  background: center no-repeat url("/images/adverbe.png");
}

.bravo-preposition {
  border: solid 1px white;
  background: center no-repeat url("/images/preposition.png");
}

.bravo-pronom {
  border: solid 1px white;
  background: center no-repeat url("/images/pronom.png");
}

.bravo-conjonction {
  border: solid 1px white;
  background: center no-repeat url("/images/conjonction.png");
}

.bravo-interjection {
  border: solid 1px white;
  background: center no-repeat url("/images/interjection.png");
}

input {
  width: 100%;
}
