:javascript
  function init () {
    $('.symbol').draggable({
      revert: myRevertFunc 
    });
    $('.container').droppable({
      hoverClass: 'hovered',
      tolerance: "pointer",
    });
  }
  function handleSymbol (event, ui) {
    var droppable_classes = $(this).parent().get( 0 ).className.split(/\s+/);
    for (var i=0,len=droppable_classes.length; i<len; i++){
      var draggable_classes = ui.draggable.className;
      if (ui.draggable.hasClass(droppable_classes[i])){
        alert("C'est bien");
      }
    }
  }

  function myRevertFunc(ui) {
    if(ui === false) {
      return true;
    } else {
      var symbol = $(this).attr('id');
      var droppable_classes = ui.parent().get( 0 ).className;
      if (ui.parent().hasClass(symbol)) {
        return false;
      } else {
        return true;
      }
    }
  }

.article.case
  .container
  .mot Le
.nom.case
  .container
  .mot chat
.verbe.case
  .container
  .mot mange

%div
  .symbol#article
    %img{src:"article.png"}
  .symbol#nom
    %img{src:"nom.png"}
  .symbol#verbe
    %img{src:"verbe.png"}
  .symbol#preposition
    %img{src:"preposition.png"}
  .symbol#pronom
    %img{src:"pronom.png"}
  .symbol#adjectif
    %img{src:"adjectif.png"}

:javascript
  $(init);
