:javascript
  function init () {
    $('.symbol').draggable({
      revert: true 
    });
    $('.container').droppable({
      hoverClass: 'hovered',
      tolerance: "pointer",
      drop: handleSymbol
    });
  }
  function handleSymbol (event, ui) {
    var droppable_classes = $(this).parent().get( 0 ).className.split(/\s+/);
    for (var i=0,len=droppable_classes.length; i<len; i++){
      var draggable_classes = ui.draggable.className;
      if (ui.draggable.hasClass(droppable_classes[i])){
        alert("C'est bien");
      }
    }
  }

.article.case
  .container
  .mot Le
.nom.case
  .container
  .mot chat
.verbe.case
  .container
  .mot mange

%div
  .symbol.article#article
    %img{src:"article.png"}
  .symbol.nom
    %img{src:"nom.png"}
  .symbol.verbe
    %img{src:"verbe.png"}

:javascript
  $(init);
